.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

.u-zIndexOff1{
	z-index:-1;
}
.u-zIndex0{
	z-index:0;
}

.u-zIndex-2{
	z-index: -2;
}

.u-zIndex-1{
	z-index: -1;
}

.u-zIndex0{
	z-index: 0;
}
.u-zIndex1{
	z-index:1;
}
.u-zIndex2{
	z-index:2;
}
.u-zIndex3{
	z-index:3;
}
.u-zIndex4{
	z-index:4;
}
.u-zIndex5{
	z-index:5;
}
.u-zIndex10{
	z-index:10;
}
.u-zIndex20{
	z-index:20;
}

.u-zIndex50{
	z-index:50;
}
.u-zIndex100{
	z-index:100;
}