.Button{
	&--border{
		&.hover{
			&:hover{
				background: $color_3;
				border-color: $color_3;
				color: $color_2;
			}
		}
	}
}

.Section{
	background: $color_1;
// ===========
// Structure
// ===========

	&-header{
		&-title{
			font-size: 20px;
			font-weight: normal;
			@media screen and (min-width: $break-sm){
				font-size: 30px;
			}
			&--beforeTitleLine{
				position: relative;
				&:before{
					position: absolute;
					display: block;
					left: 50%;
					transform: translateX(-50%);
					bottom:0px;
					width: 80px;
					height: 3px;
					content: "";
				}
			}
		}

		&-subtitle{
			font-size: $font_size_subtitle_section;
			margin: 0px;
			padding: 0px;
			font-weight: normal;
			margin-top: 10px;	
			font-size: 20px;

		}
	}

		& .Section-imageMain{ //<div> image container
			&-figure{
				text-align: center;
			}
			&-imageSrc{
				width: 100%;
				height: auto;
				&--outBottom50{
					
				}
			}
			&-iframe{
				min-height: 400px;
				background-color: $color_4;
			}
			
			&--bigSize{
				@media screen and (min-width: $break-sm) and (max-width: $break-lg - 1){
					position: relative;
					display: inline-block !important;
				}

				@media screen and (min-width: $break-lg){
				    position: absolute;
				    bottom: -90px;
				    &--left{
				    	left: 0px;
				    }
				    &--right{
				    	right: 0px;
				    }
					& .imageSrc{
						width: 130%;
					}
				}
				
				
				@media screen and (min-width: $break-ex){
				
					&.u-size16of24{
						width: calc(100% - #{$sizeColumns} * 10) !important;
					}

					& .imageSrc{
						width: 100%;
						min-width: 1050px !important;
						max-width: 1120px !important;
					}
				}
			}
		}
		& .Section-listSide{ //<div> list container
			@media screen and (min-width: $break-sm) and (max-width: $break-lg - 1){
				width: 100% !important;
			}
			& .Section-items{  //<ul> list
				&-item{
					margin-bottom: 30px;
					
					@media screen and (min-width: $break-sm) and (max-width: $break-lg - 1){
						width: 50% !important;
						float: left;
					}
					&-figure{
						min-width: 64px;
						min-height: 90px;
						&.FigureIcon{
						}
					}
				}
			} 
				
		}
		&--grid-colls{
			@media screen and (max-width: $break-sm) {
				&-coll{
					padding-right: 0px !important;
				}
			}
		}
		& .ReadMore{
					
			&--icon{
				width: 30px;
				height: 30px;
				font-size: 24px;
				& svg{
					width: 100%;
					height: 100%;
				}
			}
		}
		
		& .Section-items{
			&-item{
				&-figure{
					&.u-floatLeft{
							margin-right: 20px;
							min-height: 90px;
						}
					&.FigureIcon{}
					& .Item-img{
						max-height: 500px;
						&--full{
							width: 100%;
						}
					}
				}
				&-title{
					font-size: $font_size_title_item;
				}
				&-subtitle{
					font-size: $font_size_subtitle_item;
				}
				&-resume{
					font-size: 17px;
				}

				&--divisor{
					//padding-right: 15px;
					//margin-right: 15px;
					position: relative;
						&:before{
							position: absolute;
							display: block;
							width: 1px;
							height: 50%;
							background: $color_9;
							top: 50%;
							-moz-transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
							right: -0.5px;
							content: "";
							z-index: 2;
						}
				}
				

				&-caption{
					left: 0px;
					bottom: 0px;
					text-align: center;
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
						font-weight: 500;
						font-size: 16px;
						& em{
							font-size: 24px;
							margin-top: 5px;
							}
					}
					& .ReadMore{
						font-weight: bold;
					}
					&--label{
						width: auto;
						padding: 10px;
						&--footer{
							bottom: -15px;
						}
					}
					&--light{
						& h4{
							font-size: 14px;
							& em{
								font-size: 18px;
							}
							}	
					}

				}
				& .Button{
					&--border{
						font-weight: bold;
					}
				}

			}

			& .MinTwoColumns{
					@media screen and (max-width: $break-sm - 1){
						width: 50% !important;
					}
				}

		}

		& .navController{
			&--prev{
				left: 0px;
			}
			&--next{
				right: 0px;
			}
			&disabled{
				opacity: 0.45;
			}
			&--all{
				height: 31px;
				line-height: 31px;
				font-size: 0px;
				& .ShowText{
					font-size: $font_size_text;
				}
			}
			&--center{
					//display: inline-block;
					left:inherit !important;
					right:inherit !important;

			}
			&--button{
				height: 31px;
				line-height: 29px;
				&--uniSize{
					width: 31px;
				}
				&--largeSize{
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			&--border{
					border: 1px solid $color_8;
				}
			&--above{
				border-color: #FFF !important;
				border-width: 2px !important;
			}
			&--above:hover{
				background: none !important;
				color: #FFF !important;
			}
			&--above.navController--prev{
				left: $h_spacing / 2 !important;
			}
			&--above.navController--next{
				right: $h_spacing / 2 !important;
			}

		}

		

		
		& .Section-imageMain{}
		& .Section-navigation{
			&-items{
				&--tabs{
					line-height: 100%;
					& .Item{
						& .NavigationLink{
							opacity: 0.5;
							&:hover{
								opacity: 1;
							}
						}
					}
					& .Item.active{
						& .NavigationLink{
							opacity: 1;
						}
					}
				}
			}
			
			
		}

		&--styleBanner{
			.Section-header{
				&--content{
					text-align: center;
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .Section-header{
						&-title{
						font-size: 20px;
						margin-bottom: 20px;
							& em{
								font-size: 30px;
							}
						}
					}
				}
				& .Section-header-title--box{
					font-size: 40px;
					padding:0 15px;
					-webkit-transform: skew(-10deg);
					-moz-transform: skew(-10deg);
					-ms-transform: skew(-10deg);
					-o-transform: skew(-10deg);
					transform: skew(-10deg);
				}
			}
		}
		& .Section-table{
			&-thead{
				&-item{
					/* &:nth-child(1){
						width: 30%;
					}
					&:nth-child(2){
						width: 20%;
					}
					&:nth-child(3){
						width: 20%;
					}
					&:nth-child(4){
						width: 20%;
					} */
					width: 25%;
					
					&-title{
						min-height: 50px;
						font-size: 14px;
						& .Display{
							&--desktop{
								display: none;
							}
							&--mobile{
								display: block;
							}
						}

					}
					@media screen and (min-width: $break-sm){
						width: 25%;
						&-title{
							min-height: 70px;
							font-size: 22px;
							& .Display{
								&--desktop{
									display: block;
								}
								&--mobile{
									display: none;
								}
							}
						}
					}
				}
			}
			&-tbody{
				&-item{
					padding: 2px 5px;
					&-title{
						font-size: 13px;
					}
					& span{
						display: inline-block;
						position: relative;
						padding: 5px 5px;
						border: 1px solid $color_7;
						border-radius: 50px;
						& i{
							position: relative;
							display: block;
							width: 25px;
							height: 25px;
							background: none;
							border-radius: 50px;
							& svg{
								display: none;
								font-size: 18px;
								color: $color_1;
								width: 60%;
								height: 60%;
								margin: 20% 0 0 0;
								}
						}
					}
					&.check{
						& span{
							background: $color_7;
							& i{
								display: block;
								background: $color_3;
								& svg{
									display: inline-block;
								}
							}
						}
					}
					@media screen and (min-width: $break-sm){
						&-title{
							font-size: 18px;
						}
						& span{
							padding: 7px 45px;
						}
					}
				}
			}

		}

	


	


	// =============
	// STYLES
	// =============
	&--style1{ //<section> style section
		color: $color_2;
		& .Section-header{
			&-title{
				color: $color_2;
				&--beforeTitleLine{
					&:before{
						background: $color_2;
					}
				}
			}
			&-subtitle{
				color: $color_2;
			}
		}
		&.Section--styleBanner{
			.Section-header{
				&-title{
						&--box{
							color: $color_3;
							background: $color_2;
						}
					}
			}
		}
		& .ReadMore{
			border-color: $color_2;
			&--border{
				color: $color_2;
				background: none;
			}
			&--background{
				color: $color_1 !important;
				background: $color_2;
				&:hover{
					background: $color_3;
				}
			}
			
			&--icon{
				color: $color_1;
				background: $color_3;
				border-color: $color_3;
				&:hover{
					background: $color_5;
				}
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title,
				&-title a{
					color: $color_2;
				}
				&-subtitle{
					color: $color_2;
				}
				&-resume{
					color: $color_2;
				}

				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .ReadMore--border{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}

				}
			}
		}
		& .Button--border{

					border-color: $color_2;
					color: $color_2;
					font-weight: bold;
		}
		
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				color: $color_2;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&.ReadMore{
				&--background{
					background-color: $color_2;
					border-color: $color_2;
					color: $color_1;
				}

			}
			&--tabs{
				background-color: $color_7;
				border-color: $color_7;
				color: $color_2;
				&.active{
					background-color: $color_2;
					border-color: $color_2;
					color: $color_1
				}
			}
		}
		

		& .Section-imageMain{}
		&.LineUp{
			//border-top: 3px solid $color_2;
			border-top: none;
			&:before{
				position: absolute;
				display: block;
				width: 100%;
				height: 3px;
				top: 0px;
				left: 0px;
				content: "";
				moz-background: linear-gradient(to right, $color_2 35%, $color_3);
			    -webkit-background: linear-gradient(to right, $color_2 35%, $color_3);
			    background: linear-gradient(to right, $color_2 35%, $color_3);
			}
		}
	}
	
	&--style2{ //<section> style section
		color: $color_1;
		background: $color_2;
		& .Section-header{
			&-title{
				color: $color_1;
				&--beforeTitleLine{
					&:before{
						background: $color_1;
					}
				}
			}
			&-subtitle{
				color: $color_1;
			}
		}
		&.Section--styleBanner{
			.Section-header{
				&-title{
						&--box{
							color: $color_2;
							background: $color_3;
						}
					}
			}
		}
		& .ReadMore{
			border-color: $color_1;
			&--border{
				color: $color_1;
				background: none;
			}
			&--background{
				color: $color_2;
				background: $color_1;
			}
			
			&--icon{
				color: $color_1;
				background: $color_3;
				border-color: $color_3;
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title{
					color: $color_3;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
				
				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .readMore{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}
				}
			}
		}
		& .Button--border{
					border-color: $color_1;
					color: $color_1;
					font-weight: bold;	
		}
		& .Button--background{
					border-color: $color_3;
					background: $color_3;
					color: $color_2;
					font-weight: bold;	
		}
		& .Button--background.Button--border{
					border-color: $color_3;
					color: $color_2;
					&:hover{
						background: none;
						color: $color_1;
						border-color: $color_1;
					}
		}
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&--all{
				&.Button{
					background: $color_2;
					border-color: $color_2;
				}
			}
		}
		& .Section-imageMain{}
	}
	&--style3{ //<section> style section
		color: $color_1;
		background: $color_3;
		& .Section-header{
			&-title{
				color: $color_2;
			}
			&-subtitle{
				color: $color_2;
			}
		}
		&.Section--styleBanner{
			.Section-header{
				&-title{
						&--box{
							color: $color_3;
							background: $color_2;
						}
					}
			}
		}
		& .ReadMore{
			border-color: $color_2;
			&--border{
				color: $color_2;
				background: none;
			}
			&--background{
				color: $color_3;
				background: $color_2;
			}
			
			&--icon{
				color: $color_3;
				background: $color_2;
				border-color: $color_2;
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title{
					color: $color_2;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
				
				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .readMore{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}
				}
			}
		}
		& .Button--border{

					border-color: $color_2;
					color: $color_2;
					font-weight: bold;
			
		}
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&--all{
				&.Button{
					background: $color_2;
					border-color: $color_2;
				}
			}
		}
		& .Section-imageMain{}
	}

	//==============
	// CROSS STYLES
	//=============

	&--crossStyle{
		&Color_1{
			& .Section-header{
			&-title{
				color: $color_1;
			}
			&-subtitle{
				color: $color_1;
				font-weight: bold;
				font-size: 24px;
			}
			& .Button{
				color: $color_1;
				border-color: $color_1;
				&:hover{
					border-color: $color_2 !important;
					background: $color_2 !important;
					color: $color_3 !important;
				}
			}
		}
		}
	}

	//==============
	// SUBSEÇÃO
	//=============

	

	// begins with .Section


	// ===================
	// CUSTOMIZER
	// ===================

	&--intro{
		height: 100vh;
		background: $color_5;

		@media screen and (min-width: $break-sm){
			
			& .Captions{
				
			}
		}
	}


	// ===================
	// CUSTOMIZER - END
	// ===================

	
	// continued with .Section


	// =================
	// FOOTER
	// =================


	// end class .Section
	}

