.Button{
	&--border{
		&.hover{
			&:hover{
				background: $color_3;
				border-color: $color_3;
				color: $color_2;
			}
		}
	}
}

.Section{
// ===========
// Structure
// ===========

	&-header{
		&-title{
			font-size: 20px;
			font-weight: normal;
			@media screen and (min-width: $break-sm){
				font-size: 30px;
			}
			&--beforeTitleLine{
				position: relative;
				&:before{
					position: absolute;
					display: block;
					left: 50%;
					transform: translateX(-50%);
					bottom:0px;
					width: $sizeColumns_px * 1.5;
					height: 1px;
					content: "";
				}
			}
		}

		&-subtitle{
			font-size: $font_size_subtitle_section;
			margin: 0px;
			padding: 0px;
			font-weight: normal;
			margin-top: 10px;	
			font-size: 20px;

		}
	}
	&-content{
		&-subtitle{
			font-size: $font_size_subtitle_section;
			color: $color_11;
		}
	}

		
		& .Section-items{
			&-item{
				&-figure{
					&.u-floatLeft{
							margin-right: 20px;
							min-height: 90px;
						}
					&.FigureIcon{}
					& .Item-img{
						max-height: 500px;
						&--full{
							width: 100%;
						}
					}
				}
				&-title{
					font-size: $font_size_title_item;
				}
				&-subtitle{
					font-size: $font_size_subtitle_item;
				}
				&-resume{
					font-size: 17px;
				}

				&--divisor{
					//padding-right: 15px;
					//margin-right: 15px;
					position: relative;
						&:before{
							position: absolute;
							display: block;
							width: 1px;
							height: 50%;
							background: $color_9;
							top: 50%;
							-moz-transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
							right: -0.5px;
							content: "";
							z-index: 2;
						}
				}
				

				&-caption{
					left: 0px;
					bottom: 0px;
					text-align: center;
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
						font-weight: 500;
						font-size: 16px;
						& em{
							font-size: 24px;
							margin-top: 5px;
							}
					}
					& .ReadMore{
						font-weight: bold;
					}
					&--label{
						width: auto;
						padding: 10px;
						&--footer{
							bottom: -15px;
						}
					}
					&--light{
						& h4{
							font-size: 14px;
							& em{
								font-size: 18px;
							}
							}	
					}

				}
				& .Button{
					&--border{
						font-weight: bold;
					}
				}

			}

			& .MinTwoColumns{
					@media screen and (max-width: $break-sm - 1){
						width: 50% !important;
					}
				}

		}

		& .navController{
			&--prev{
				left: 0px;
			}
			&--next{
				right: 0px;
			}
			&disabled{
				opacity: 0.45;
			}
			&--all{
				height: 31px;
				line-height: 31px;
				font-size: 0px;
				& .ShowText{
					font-size: $font_size_text;
				}
			}
			&--center{
					//display: inline-block;
					left:inherit !important;
					right:inherit !important;

			}
			&--button{
				height: 31px;
				line-height: 29px;
				&--uniSize{
					width: 31px;
				}
				&--largeSize{
					padding-left: 20px;
					padding-right: 20px;
				}
			}
			&--border{
					border: 1px solid $color_8;
				}
			&--above{
				border-color: #FFF !important;
				border-width: 2px !important;
			}
			&--above:hover{
				background: none !important;
				color: #FFF !important;
			}
			&--above.navController--prev{
				left: $h_spacing / 2 !important;
			}
			&--above.navController--next{
				right: $h_spacing / 2 !important;
			}

		}

		
		& .Section-navigation{
			&-items{
				&--tabs{
					line-height: 100%;
					& .Item{
						& .NavigationLink{
							opacity: 0.5;
							&:hover{
								opacity: 1;
							}
						}
					}
					& .Item.active{
						& .NavigationLink{
							opacity: 1;
						}
					}
				}
			}
			
			
		}

		& .Section-table{
			&-thead{
				&-item{
					width: 25%;
					
					&-title{
						min-height: 50px;
						font-size: 14px;
						& .Display{
							&--desktop{
								display: none;
							}
							&--mobile{
								display: block;
							}
						}

					}
					@media screen and (min-width: $break-sm){
						width: 25%;
						&-title{
							min-height: 70px;
							font-size: 22px;
							& .Display{
								&--desktop{
									display: block;
								}
								&--mobile{
									display: none;
								}
							}
						}
					}
				}
			}
			&-tbody{
				&-item{
					padding: 2px 5px;
					&-title{
						font-size: 13px;
					}
					& span{
						display: inline-block;
						position: relative;
						padding: 5px 5px;
						border: 1px solid $color_7;
						border-radius: 50px;
						& i{
							position: relative;
							display: block;
							width: 25px;
							height: 25px;
							background: none;
							border-radius: 50px;
							& svg{
								display: none;
								font-size: 18px;
								color: $color_1;
								width: 60%;
								height: 60%;
								margin: 20% 0 0 0;
								}
						}
					}
					
					@media screen and (min-width: $break-sm){
						&-title{
							font-size: 18px;
						}
						& span{
							padding: 7px 45px;
						}
					}
				}
			}

		}

	


	


	// =============
	// STYLES
	// =============
	&--style1{ //<section> style section
		color: $color_10;
		& .Section-header{
			&-title{
				color: $color_2;
				&--beforeTitleLine{
					&:before{
						background: $color_2;
					}
				}
			}
			&-subtitle{
				color: $color_2;
			}
		}
	
		& .ReadMore{
			border-color: $color_2;
			&--border{
				color: $color_2;
				background: none;
			}
			&--background{
				color: $color_1 !important;
				background: $color_2;
				&:hover{
					background: $color_3;
				}
			}
			
			&--icon{
				color: $color_1;
				background: $color_3;
				border-color: $color_3;
				&:hover{
					background: $color_5;
				}
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title,
				&-title a{
					color: $color_2;
				}
				&-subtitle{
					color: $color_2;
				}
				&-resume{
					color: $color_2;
				}

				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .ReadMore--border{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}

				}
			}
		}
		& .Button--border{

					border-color: $color_2;
					color: $color_2;
					font-weight: bold;
		}
		
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				color: $color_2;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&.ReadMore{
				&--background{
					background-color: $color_2;
					border-color: $color_2;
					color: $color_1;
				}

			}
			&--tabs{
				background-color: $color_7;
				border-color: $color_7;
				color: $color_2;
				&.active{
					background-color: $color_2;
					border-color: $color_2;
					color: $color_1
				}
			}
		}
		

		&.LineUp{
			//border-top: 3px solid $color_2;
			border-top: none;
			&:before{
				position: absolute;
				display: block;
				width: 100%;
				height: 3px;
				top: 0px;
				left: 0px;
				content: "";
				moz-background: linear-gradient(to right, $color_2 35%, $color_3);
			    -webkit-background: linear-gradient(to right, $color_2 35%, $color_3);
			    background: linear-gradient(to right, $color_2 35%, $color_3);
			}
		}
	}
	
	&--style2{ //<section> style section
		color: $color_1;
		background: $color_2;
		& .Section-header{
			&-title{
				color: $color_1;
				&--beforeTitleLine{
					&:before{
						background: $color_1;
					}
				}
			}
			&-subtitle{
				color: $color_1;
			}
		}
		& .ReadMore{
			border-color: $color_1;
			&--border{
				color: $color_1;
				background: none;
			}
			&--background{
				color: $color_2;
				background: $color_1;
			}
			
			&--icon{
				color: $color_1;
				background: $color_3;
				border-color: $color_3;
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title{
					color: $color_3;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
				
				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .readMore{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}
				}
			}
		}
		& .Button--border{
					border-color: $color_1;
					color: $color_1;
					font-weight: bold;	
		}
		& .Button--background{
					border-color: $color_3;
					background: $color_3;
					color: $color_2;
					font-weight: bold;	
		}
		& .Button--background.Button--border{
					border-color: $color_3;
					color: $color_2;
					&:hover{
						background: none;
						color: $color_1;
						border-color: $color_1;
					}
		}
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&--all{
				&.Button{
					background: $color_2;
					border-color: $color_2;
				}
			}
		}
	}
	&--style3{ //<section> style section
		color: $color_1;
		background: $color_3;
		& .Section-header{
			&-title{
				color: $color_2;
			}
			&-subtitle{
				color: $color_2;
			}
		}
		& .ReadMore{
			border-color: $color_2;
			&--border{
				color: $color_2;
				background: none;
			}
			&--background{
				color: $color_3;
				background: $color_2;
			}
			
			&--icon{
				color: $color_3;
				background: $color_2;
				border-color: $color_2;
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title{
					color: $color_2;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
				
				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .readMore{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}
				}
			}
		}
		& .Button--border{

					border-color: $color_2;
					color: $color_2;
					font-weight: bold;
			
		}
		& .navController{
			&--border{
				border-color: $color_8;
				background: $color_1;
				&:hover{
					border-color: $color_1 !important;
					box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
				}
			}
			&--all{
				&.Button{
					background: $color_2;
					border-color: $color_2;
				}
			}
		}
	}

	//==============
	// CROSS STYLES
	//=============

	&--crossStyle{
		&Color_1{
			& .Section-header{
			&-title{
				color: $color_1;
			}
			&-subtitle{
				color: $color_1;
				font-weight: bold;
				font-size: 24px;
			}
			& .Button{
				color: $color_1;
				border-color: $color_1;
				&:hover{
					border-color: $color_2 !important;
					background: $color_2 !important;
					color: $color_3 !important;
				}
			}
		}
		}
	}

	//==============
	// SUBSEÇÃO
	//=============

	

	// begins with .Section


	// ===================
	// CUSTOMIZER
	// ===================

	&--intro{

		moz-background: linear-gradient(to right, #f1efe9 50%, #f9f8f3);
	    -webkit-background: linear-gradient(to right, #f1efe9 50%, #f9f8f3);
	    background: linear-gradient(to right, #f1efe9 50%, #f9f8f3);

		&:after{

		 	width: 140%;
		    height: 100%;
		    margin: 0 0 20px 0;
		    -webkit-transform: skew(-15deg, 7deg);
		       -moz-transform: skew(-15deg, 7deg);
		         -o-transform: skew(-15deg, 7deg);
		    overflow:hidden;
		    position:relative;
		    
		    border-bottom-left-radius:0;
		    border-bottom-right-radius:50px;

		    content:"";
		    position: absolute;
		    bottom: 70px;
		    left: -20%;

		    background: $color_5;
		}

		height: calc(100vh + 100px);
		& .Captions{
			position: absolute;
			display: block;
			left: 0px;
			top: calc(50% + 0px);
			transform: translateY(-50%);
				&-title{
					font-weight: lighter;
					font-size: $font_size_subtitle_section;
					letter-spacing: 2px;
					&--line3{
						font-size: $font_size_title_item;
						letter-spacing: 1.5px;
					}
				}
				& .Form{




					& .u-icon{
						font-size: 18px;
						margin-right: 7.5px;
					}
					&-input{
						max-width: 140px;

						&.Form-input--text,
						&.Form-input--email,
						&.Form-input--tel{
							background: transparent;
							border: none;
							&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
							  color: $color_6;
						}
							&::-moz-placeholder { /* Firefox 19+ */
							  color: $color_6;
						}
							&:-ms-input-placeholder { /* IE 10+ */
							  color: $color_6;
						}
							&:-moz-placeholder { /* Firefox 18- */
							  color: $color_6;
							}
						}
						&.Button{
							border: none;
							font-size: 11px;
							letter-spacing: 3px;
							position: absolute;
							height: 100%;
							width: 100%;

							&.Form-input--submit{
								background: transparent;
								color: $color_1;
								padding-left: 0px;
								&:hover{

								}
							}
							& .u-icon{
								font-size: $font_size_text;
							}
						}
						&--bg{
							-moz-background: linear-gradient(to bottom right, $color_4, $color_12);
							-webkit-background: linear-gradient(to bottom right, $color_4, $color_12);
							background: linear-gradient(to bottom right, $color_4, $color_12);
							color: $color_1;
							&--hover{
								-moz-background: linear-gradient(to bottom right, $color_3, $color_2);
								-webkit-background: linear-gradient(to bottom right, $color_3, $color_2);
								background: linear-gradient(to bottom right, $color_3, $color_2);
								opacity: 0;
								color: $color_1;
							}
						}


					}
					
					&-row{
						&--email{
							padding: 7.5px 0px;
							/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edeae3+0,edeae3+100&0+0,1+30,1+70,0+100 */
background: -moz-linear-gradient(left, rgba(237,234,227,0) 0%, rgba(237,234,227,1) 40%, rgba(237,234,227,1) 60%, rgba(237,234,227,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(237,234,227,0) 0%,rgba(237,234,227,1) 40%,rgba(237,234,227,1) 60%,rgba(237,234,227,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(237,234,227,0) 0%,rgba(237,234,227,1) 40%,rgba(237,234,227,1) 60%,rgba(237,234,227,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00edeae3', endColorstr='#00edeae3',GradientType=0 ); /* IE6-9 */
						}
					}
					&-coll{
						&.Submit{
							width: $sizeColumns_px * 2.5;
							height: $sizeColumns_px;
							position: relative;
							display: block;
						}
					}
				}
				@media screen and (min-width: $break-sm){
					& .Form{	
						&-coll{
							&.Submit{
								&:hover{
									& .Form-input{
										&--bg{
											opacity: 0;
											&--hover{
												opacity: 1;
											}
										}
									}
								}
							}
						}
						&-input{
							max-width: inherit;
						}
					}
					top: calc(50% + 25px);
					transform: translateY(-50%);
				}
			}


			.Flatlays{
				//overflow: hidden;
			    width: 100%;
			    height: calc(100vh + 100px);
			}
			.Flatlay{
				position: absolute;
				display: block;
				&--folha1{
					left: -75px;
					bottom: -50px;
					display: none;
				}
				&--tomate1{
					right: -130px;
					top: 0px;
				}
				&--tomate2{
					left: -125px;
					bottom: 100px;
				}
				&--azeite{
					right: 25%;
					bottom: -270px;
					display: none;
				}
				&--colher{
					right: -210px;
					bottom: 30px;
				}
				&--ramo{
					left: -10px;
					top: -55px;
				}
				&--folha2{
					right: 5%;
					bottom: 0px;
					display: none;
				}
			}
		@media screen and (min-width: $break-sm){
			&:after{

			 	width: 120%;
			    border-bottom-right-radius:100px;

			}
			& .Captions{
				left: $h_spacing;
			}
			.Flatlays{
				//overflow-x: visible;
				 
			}
			 .Flatlay{
				&--folha1{
					left: -25px;
					bottom: 300px;
					top: inherit;
					display: block;
				}
				&--tomate1{
					right: 15%;
					top: 100px;
				}
				&--tomate2{
					left: -25px;
					bottom: -75px;
				}
				&--azeite{
					right: 30%;
					top: 110px;
					bottom: inherit;
					display: block;
				}
				&--colher{
					right: -160px;
					top: 75px;
					bottom: inherit;
				}
				&--ramo{
					right: 15.5%;
					bottom: 150px;
					left: inherit;
					top: inherit;
					display: block;
				}
				&--folha2{
					right: 0px;
					bottom: 0px;
					display: block;
				}
			}	
		}
	} // .Intro

	&--aFranquia{
		moz-background: linear-gradient(to right, #f1efe9 50%, #f9f8f3);
	    -webkit-background: linear-gradient(to right, #f1efe9 50%, #f9f8f3);
	    background: linear-gradient(to right, #f1efe9 50%, #f9f8f3);

		height: 1000px;

		& .Section{
			&-header{
				&-title{
					&--beforeTitleLine{
						position: relative;
						&:before{
							background: $color_15;
						}
					}
				}
			}
			&-gridElastic{
				height: auto;
				display: flex;
				flex-wrap: wrap;
				&-item{
					position: relative;
					display: block;
					text-align: center;
					width: 50%;
					max-height: 235px;
					&.Image{
						&_1{
							position: absolute;
						}
						&_2{
						}
						&_3{
						}
						&_4{
						}
						&_5{
						}
					}
					
					&-src{
						width: auto;
						position: relative;
						display: inline-block;
						max-width: 100%;
						}
				}
			}
		}
		@media screen and (min-width: $break-sm){
			& .Section{
				&-gridElastic{
					margin-right: $h_spacing;
					height: 600px;
					&-item{
						position: absolute;
						&.Image{
							max-width: inherit;
							&_2{
								left: 0px;
								top: 0px;
							}
							&_3{
								right: 0px;
								top: 0px;
							}
							&_4{
								left: 0px;
								bottom: 0px;
							}
							&_5{
								right: 0px;
								bottom: 0px;
							}
						}
						max-width: 50%;
						text-align: center;
						&-src{
							display: inline-block;
							margin-bottom: 10px;
							max-width: 100%;
							}
					}
				}
			}
		}
		@media screen and (min-width: $break-md){}
		@media screen and (min-width: $break-sm) and (max-width: $break-md){}
	}




	// ===================
	// CUSTOMIZER - END
	// ===================

	
	// continued with .Section


	// =================
	// FOOTER
	// =================


	// end class .Section
	}
