// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-arabesco-bottom-bottom-name: 'ArabescoBottom--bottom';
$-arabesco-bottom-bottom-x: 411px;
$-arabesco-bottom-bottom-y: 622px;
$-arabesco-bottom-bottom-offset-x: -411px;
$-arabesco-bottom-bottom-offset-y: -622px;
$-arabesco-bottom-bottom-width: 243px;
$-arabesco-bottom-bottom-height: 53px;
$-arabesco-bottom-bottom-total-width: 812px;
$-arabesco-bottom-bottom-total-height: 809px;
$-arabesco-bottom-bottom-image: '../images/sprite.png';
$-arabesco-bottom-bottom: (411px, 622px, -411px, -622px, 243px, 53px, 812px, 809px, '../images/sprite.png', 'ArabescoBottom--bottom', );
$-arabesco-top-color-15-name: 'ArabescoTop--color_15';
$-arabesco-top-color-15-x: 411px;
$-arabesco-top-color-15-y: 705px;
$-arabesco-top-color-15-offset-x: -411px;
$-arabesco-top-color-15-offset-y: -705px;
$-arabesco-top-color-15-width: 182px;
$-arabesco-top-color-15-height: 32px;
$-arabesco-top-color-15-total-width: 812px;
$-arabesco-top-color-15-total-height: 809px;
$-arabesco-top-color-15-image: '../images/sprite.png';
$-arabesco-top-color-15: (411px, 705px, -411px, -705px, 182px, 32px, 812px, 809px, '../images/sprite.png', 'ArabescoTop--color_15', );
$-arabesco-top-intro-name: 'ArabescoTop--intro';
$-arabesco-top-intro-x: 388px;
$-arabesco-top-intro-y: 375px;
$-arabesco-top-intro-offset-x: -388px;
$-arabesco-top-intro-offset-y: -375px;
$-arabesco-top-intro-width: 243px;
$-arabesco-top-intro-height: 54px;
$-arabesco-top-intro-total-width: 812px;
$-arabesco-top-intro-total-height: 809px;
$-arabesco-top-intro-image: '../images/sprite.png';
$-arabesco-top-intro: (388px, 375px, -388px, -375px, 243px, 54px, 812px, 809px, '../images/sprite.png', 'ArabescoTop--intro', );
$-figure-icon-newsletter-name: 'FigureIcon--newsletter';
$-figure-icon-newsletter-x: 631px;
$-figure-icon-newsletter-y: 375px;
$-figure-icon-newsletter-offset-x: -631px;
$-figure-icon-newsletter-offset-y: -375px;
$-figure-icon-newsletter-width: 53px;
$-figure-icon-newsletter-height: 50px;
$-figure-icon-newsletter-total-width: 812px;
$-figure-icon-newsletter-total-height: 809px;
$-figure-icon-newsletter-image: '../images/sprite.png';
$-figure-icon-newsletter: (631px, 375px, -631px, -375px, 53px, 50px, 812px, 809px, '../images/sprite.png', 'FigureIcon--newsletter', );
$-figure-icon-send-name: 'FigureIcon--send';
$-figure-icon-send-x: 696px;
$-figure-icon-send-y: 304px;
$-figure-icon-send-offset-x: -696px;
$-figure-icon-send-offset-y: -304px;
$-figure-icon-send-width: 85px;
$-figure-icon-send-height: 52px;
$-figure-icon-send-total-width: 812px;
$-figure-icon-send-total-height: 809px;
$-figure-icon-send-image: '../images/sprite.png';
$-figure-icon-send: (696px, 304px, -696px, -304px, 85px, 52px, 812px, 809px, '../images/sprite.png', 'FigureIcon--send', );
$-flatlay-azeite-name: 'Flatlay--azeite';
$-flatlay-azeite-x: 0px;
$-flatlay-azeite-y: 0px;
$-flatlay-azeite-offset-x: 0px;
$-flatlay-azeite-offset-y: 0px;
$-flatlay-azeite-width: 388px;
$-flatlay-azeite-height: 450px;
$-flatlay-azeite-total-width: 812px;
$-flatlay-azeite-total-height: 809px;
$-flatlay-azeite-image: '../images/sprite.png';
$-flatlay-azeite: (0px, 0px, 0px, 0px, 388px, 450px, 812px, 809px, '../images/sprite.png', 'Flatlay--azeite', );
$-flatlay-colher-name: 'Flatlay--colher';
$-flatlay-colher-x: 388px;
$-flatlay-colher-y: 0px;
$-flatlay-colher-offset-x: -388px;
$-flatlay-colher-offset-y: 0px;
$-flatlay-colher-width: 424px;
$-flatlay-colher-height: 304px;
$-flatlay-colher-total-width: 812px;
$-flatlay-colher-total-height: 809px;
$-flatlay-colher-image: '../images/sprite.png';
$-flatlay-colher: (388px, 0px, -388px, 0px, 424px, 304px, 812px, 809px, '../images/sprite.png', 'Flatlay--colher', );
$-flatlay-folha1-name: 'Flatlay--folha1';
$-flatlay-folha1-x: 240px;
$-flatlay-folha1-y: 622px;
$-flatlay-folha1-offset-x: -240px;
$-flatlay-folha1-offset-y: -622px;
$-flatlay-folha1-width: 171px;
$-flatlay-folha1-height: 119px;
$-flatlay-folha1-total-width: 812px;
$-flatlay-folha1-total-height: 809px;
$-flatlay-folha1-image: '../images/sprite.png';
$-flatlay-folha1: (240px, 622px, -240px, -622px, 171px, 119px, 812px, 809px, '../images/sprite.png', 'Flatlay--folha1', );
$-flatlay-folha2-no-shadow-name: 'Flatlay--folha2--noShadow';
$-flatlay-folha2-no-shadow-x: 0px;
$-flatlay-folha2-no-shadow-y: 622px;
$-flatlay-folha2-no-shadow-offset-x: 0px;
$-flatlay-folha2-no-shadow-offset-y: -622px;
$-flatlay-folha2-no-shadow-width: 120px;
$-flatlay-folha2-no-shadow-height: 187px;
$-flatlay-folha2-no-shadow-total-width: 812px;
$-flatlay-folha2-no-shadow-total-height: 809px;
$-flatlay-folha2-no-shadow-image: '../images/sprite.png';
$-flatlay-folha2-no-shadow: (0px, 622px, 0px, -622px, 120px, 187px, 812px, 809px, '../images/sprite.png', 'Flatlay--folha2--noShadow', );
$-flatlay-folha2-name: 'Flatlay--folha2';
$-flatlay-folha2-x: 120px;
$-flatlay-folha2-y: 622px;
$-flatlay-folha2-offset-x: -120px;
$-flatlay-folha2-offset-y: -622px;
$-flatlay-folha2-width: 120px;
$-flatlay-folha2-height: 187px;
$-flatlay-folha2-total-width: 812px;
$-flatlay-folha2-total-height: 809px;
$-flatlay-folha2-image: '../images/sprite.png';
$-flatlay-folha2: (120px, 622px, -120px, -622px, 120px, 187px, 812px, 809px, '../images/sprite.png', 'Flatlay--folha2', );
$-flatlay-ramo-name: 'Flatlay--ramo';
$-flatlay-ramo-x: 0px;
$-flatlay-ramo-y: 450px;
$-flatlay-ramo-offset-x: 0px;
$-flatlay-ramo-offset-y: -450px;
$-flatlay-ramo-width: 312px;
$-flatlay-ramo-height: 172px;
$-flatlay-ramo-total-width: 812px;
$-flatlay-ramo-total-height: 809px;
$-flatlay-ramo-image: '../images/sprite.png';
$-flatlay-ramo: (0px, 450px, 0px, -450px, 312px, 172px, 812px, 809px, '../images/sprite.png', 'Flatlay--ramo', );
$-flatlay-tomate1-name: 'Flatlay--tomate1';
$-flatlay-tomate1-x: 499px;
$-flatlay-tomate1-y: 450px;
$-flatlay-tomate1-offset-x: -499px;
$-flatlay-tomate1-offset-y: -450px;
$-flatlay-tomate1-width: 187px;
$-flatlay-tomate1-height: 171px;
$-flatlay-tomate1-total-width: 812px;
$-flatlay-tomate1-total-height: 809px;
$-flatlay-tomate1-image: '../images/sprite.png';
$-flatlay-tomate1: (499px, 450px, -499px, -450px, 187px, 171px, 812px, 809px, '../images/sprite.png', 'Flatlay--tomate1', );
$-flatlay-tomate2-name: 'Flatlay--tomate2';
$-flatlay-tomate2-x: 312px;
$-flatlay-tomate2-y: 450px;
$-flatlay-tomate2-offset-x: -312px;
$-flatlay-tomate2-offset-y: -450px;
$-flatlay-tomate2-width: 187px;
$-flatlay-tomate2-height: 171px;
$-flatlay-tomate2-total-width: 812px;
$-flatlay-tomate2-total-height: 809px;
$-flatlay-tomate2-image: '../images/sprite.png';
$-flatlay-tomate2: (312px, 450px, -312px, -450px, 187px, 171px, 812px, 809px, '../images/sprite.png', 'Flatlay--tomate2', );
$-intro-name-vignoli-name: 'Intro--nameVignoli';
$-intro-name-vignoli-x: 388px;
$-intro-name-vignoli-y: 304px;
$-intro-name-vignoli-offset-x: -388px;
$-intro-name-vignoli-offset-y: -304px;
$-intro-name-vignoli-width: 308px;
$-intro-name-vignoli-height: 71px;
$-intro-name-vignoli-total-width: 812px;
$-intro-name-vignoli-total-height: 809px;
$-intro-name-vignoli-image: '../images/sprite.png';
$-intro-name-vignoli: (388px, 304px, -388px, -304px, 308px, 71px, 812px, 809px, '../images/sprite.png', 'Intro--nameVignoli', );
$-shadow-box-bottom-name: 'ShadowBox--bottom';
$-shadow-box-bottom-x: 411px;
$-shadow-box-bottom-y: 675px;
$-shadow-box-bottom-offset-x: -411px;
$-shadow-box-bottom-offset-y: -675px;
$-shadow-box-bottom-width: 293px;
$-shadow-box-bottom-height: 30px;
$-shadow-box-bottom-total-width: 812px;
$-shadow-box-bottom-total-height: 809px;
$-shadow-box-bottom-image: '../images/sprite.png';
$-shadow-box-bottom: (411px, 675px, -411px, -675px, 293px, 30px, 812px, 809px, '../images/sprite.png', 'ShadowBox--bottom', );
$border-box-gadient-name: 'borderBox--gadient';
$border-box-gadient-x: 388px;
$border-box-gadient-y: 429px;
$border-box-gadient-offset-x: -388px;
$border-box-gadient-offset-y: -429px;
$border-box-gadient-width: 290px;
$border-box-gadient-height: 1px;
$border-box-gadient-total-width: 812px;
$border-box-gadient-total-height: 809px;
$border-box-gadient-image: '../images/sprite.png';
$border-box-gadient: (388px, 429px, -388px, -429px, 290px, 1px, 812px, 809px, '../images/sprite.png', 'borderBox--gadient', );
$spritesheet-width: 812px;
$spritesheet-height: 809px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-arabesco-bottom-bottom, $-arabesco-top-color-15, $-arabesco-top-intro, $-figure-icon-newsletter, $-figure-icon-send, $-flatlay-azeite, $-flatlay-colher, $-flatlay-folha1, $-flatlay-folha2-no-shadow, $-flatlay-folha2, $-flatlay-ramo, $-flatlay-tomate1, $-flatlay-tomate2, $-intro-name-vignoli, $-shadow-box-bottom, $border-box-gadient, );
$spritesheet: (812px, 809px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
