// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-arabesco-bottom-bottom-name: 'ArabescoBottom--bottom';
$-arabesco-bottom-bottom-x: 0px;
$-arabesco-bottom-bottom-y: 125px;
$-arabesco-bottom-bottom-offset-x: 0px;
$-arabesco-bottom-bottom-offset-y: -125px;
$-arabesco-bottom-bottom-width: 243px;
$-arabesco-bottom-bottom-height: 53px;
$-arabesco-bottom-bottom-total-width: 308px;
$-arabesco-bottom-bottom-total-height: 230px;
$-arabesco-bottom-bottom-image: '../images/sprite.png';
$-arabesco-bottom-bottom: (0px, 125px, 0px, -125px, 243px, 53px, 308px, 230px, '../images/sprite.png', 'ArabescoBottom--bottom', );
$-arabesco-top-intro-name: 'ArabescoTop--intro';
$-arabesco-top-intro-x: 0px;
$-arabesco-top-intro-y: 71px;
$-arabesco-top-intro-offset-x: 0px;
$-arabesco-top-intro-offset-y: -71px;
$-arabesco-top-intro-width: 243px;
$-arabesco-top-intro-height: 54px;
$-arabesco-top-intro-total-width: 308px;
$-arabesco-top-intro-total-height: 230px;
$-arabesco-top-intro-image: '../images/sprite.png';
$-arabesco-top-intro: (0px, 71px, 0px, -71px, 243px, 54px, 308px, 230px, '../images/sprite.png', 'ArabescoTop--intro', );
$-figure-icon-newsletter-name: 'FigureIcon--newsletter';
$-figure-icon-newsletter-x: 243px;
$-figure-icon-newsletter-y: 71px;
$-figure-icon-newsletter-offset-x: -243px;
$-figure-icon-newsletter-offset-y: -71px;
$-figure-icon-newsletter-width: 53px;
$-figure-icon-newsletter-height: 50px;
$-figure-icon-newsletter-total-width: 308px;
$-figure-icon-newsletter-total-height: 230px;
$-figure-icon-newsletter-image: '../images/sprite.png';
$-figure-icon-newsletter: (243px, 71px, -243px, -71px, 53px, 50px, 308px, 230px, '../images/sprite.png', 'FigureIcon--newsletter', );
$-figure-icon-send-name: 'FigureIcon--send';
$-figure-icon-send-x: 0px;
$-figure-icon-send-y: 178px;
$-figure-icon-send-offset-x: 0px;
$-figure-icon-send-offset-y: -178px;
$-figure-icon-send-width: 85px;
$-figure-icon-send-height: 52px;
$-figure-icon-send-total-width: 308px;
$-figure-icon-send-total-height: 230px;
$-figure-icon-send-image: '../images/sprite.png';
$-figure-icon-send: (0px, 178px, 0px, -178px, 85px, 52px, 308px, 230px, '../images/sprite.png', 'FigureIcon--send', );
$-intro-name-vignoli-name: 'Intro--nameVignoli';
$-intro-name-vignoli-x: 0px;
$-intro-name-vignoli-y: 0px;
$-intro-name-vignoli-offset-x: 0px;
$-intro-name-vignoli-offset-y: 0px;
$-intro-name-vignoli-width: 308px;
$-intro-name-vignoli-height: 71px;
$-intro-name-vignoli-total-width: 308px;
$-intro-name-vignoli-total-height: 230px;
$-intro-name-vignoli-image: '../images/sprite.png';
$-intro-name-vignoli: (0px, 0px, 0px, 0px, 308px, 71px, 308px, 230px, '../images/sprite.png', 'Intro--nameVignoli', );
$spritesheet-width: 308px;
$spritesheet-height: 230px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-arabesco-bottom-bottom, $-arabesco-top-intro, $-figure-icon-newsletter, $-figure-icon-send, $-intro-name-vignoli, );
$spritesheet: (308px, 230px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
