.u-borderRounded--5{
	border-radius: 5px;
}

.u-borderRounded--10{
	border-radius: 10px;
}

.u-borderRounded--15{
	border-radius: 15px;
}
.u-borderRounded--20{
	border-radius: 20px;
}
.u-borderRounded--25{
	border-radius: 25px;
}
.u-borderRounded--30{
	border-radius: 30px;
}

.u-borderRadius5{
	border-radius: 5px;
}
.u-borderRadius10{
	border-radius: 10px;
}
.u-borderRadius20{
	border-radius: 20px;
}
.u-borderRadius30{
	border-radius: 30px;
}
.u-borderRadius40{
	border-radius: 40px;
}
.u-borderRadius50{
	border-radius: 50px;
}
.u-boxShadow{
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.35);
	&--hover{
		&:hover{
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
		}
	}
	@media screen and (min-width: $break-sm){
		box-shadow: 0px 0px 35px -5px rgba(0,0,0,0.5);
		&--hover{
			&:hover{
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
			}
		}	
	}
}
.u-onlyMobile{
	@media screen and (min-width: $break-md){
		display: none !important;
	}
}

.u-onlyDesktop{
	@media screen and (max-width: $break-md){
		display: none !important;
	}
}

